<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj_mf_muban.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,804},{500,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,233}}</string>
                <key>sourceSize</key>
                <string>{500,233}</string>
            </dict>
            <key>bj_mf_qiziban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{1080,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1080,217}}</string>
                <key>sourceSize</key>
                <string>{1080,217}</string>
            </dict>
            <key>bj_tc_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{850,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{850,447}}</string>
                <key>sourceSize</key>
                <string>{850,447}</string>
            </dict>
            <key>bj_zj_bei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,169},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>bj_zj_bei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,551},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bj_zj_bei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>bj_zj_bei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,919},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>bj_zj_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,551},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bt_bj_1ci.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,451},{466,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,157}}</string>
                <key>sourceSize</key>
                <string>{466,157}</string>
            </dict>
            <key>bt_bj_1ci_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1886},{466,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,157}}</string>
                <key>sourceSize</key>
                <string>{466,157}</string>
            </dict>
            <key>bt_bj_jiangchi.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,718},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>bt_bj_zidong.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,336},{466,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,157}}</string>
                <key>sourceSize</key>
                <string>{466,157}</string>
            </dict>
            <key>bt_tc_fou.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,451},{319,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,122}}</string>
                <key>sourceSize</key>
                <string>{319,122}</string>
            </dict>
            <key>bt_tc_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{319,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,122}}</string>
                <key>sourceSize</key>
                <string>{319,122}</string>
            </dict>
            <key>bt_zj_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,451},{265,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,98}}</string>
                <key>sourceSize</key>
                <string>{265,98}</string>
            </dict>
            <key>bt_zj_xian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,451},{265,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,98}}</string>
                <key>sourceSize</key>
                <string>{265,98}</string>
            </dict>
            <key>zhangdanlalal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,336},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{14,6}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>betAndPoolArea.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4b27a9d7bc6c3e1a10b7b0f49cd4b0d:1/1$</string>
            <key>textureFileName</key>
            <string>betAndPoolArea.png</string>
        </dict>
    </dict>
</plist>
